<div class="card card-pin  raco">
        <a href="https://www.boanoiteinternet.com.br/">
         
        <img class="card-img" src="/assets/images/bni-tape2.jpg" alt="Boa Noite Internet logo">
        
            </a><div class="notraco"><a href="https://www.boanoiteinternet.com.br/">
                <h2 class="card-title title">🎧 &nbsp;Boa Noite Internet</h2>
                <p class="post-short">O podcast que explica o mundo através de histórias interessantes.</p>
                </a><p><a href="/bni-020/">
                    
                      </a><a class="card-cat" href="/categories.html#podcast">
                        #podcast
                      </a>
                    
                      <a class="card-cat" href="/categories.html#boa noite internet">
                        #Boa Noite Internet
                      </a>
                    
                </p>
                <div class="more">                
                    <i class="fa fa-arrow-circle-right text-muted" aria-hidden="true"></i>
                </div>  
            </div>
            
         
    
    
        
   
</div>