<!--  Replace top menu links here -->

<li class="nav-item">
    <a class="nav-link active" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html">Categorias</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about.html"><span class="align-middle">Sobre</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://www.boanoiteinternet.com.br/"><span class="align-middle">Podcast</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://instagram.com/crisdias"><img src="/assets/images/i.png" alt="instagram" /></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://twitter.com/crisdias"><img src="/assets/images/tt.png" /></a>
</li>